<h2>Contact Admin</h2>

<div class="contact-form">
  <!-- NAME -->
  <div class="form-item">
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      [(ngModel)]="name">

    @if (name && name.length < 3) {
      <small style="color:red">
        Name must be at least 3 characters
      </small>
    }
  </div>

  <!-- EMAIL -->
  <div class="form-item">
    <input
      type="email"
      name="email"
      placeholder="Your Email"
      [(ngModel)]="email">
  </div>

  <!-- MESSAGE -->
  <div class="form-item">
    <textarea
      name="message"
      placeholder="Your Message"
      [(ngModel)]="message"></textarea>

    @if (message && message.length < 10) {
      <small style="color:red">
        Message must be at least 10 characters
      </small>
    }
  </div>

  <!-- BUTTON -->
  <div class="form-item">
    <button type="button" (click)="add()">Add</button>
  </div>
</div>

<table cellpadding="10" border="2" align="center">
  <tr>
    <th>NAME</th>
    <th>EMAIL</th>
    <th>MESSAGE</th>
    <th>ACTION</th>
  </tr>

  @if (contact.length === 0) {
    <tr>
      <td colspan="4">
        No data available
      </td>
    </tr>
  }

  @for (user of contact; track $index) {
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.message }}</td>
      <td>
        <button (click)="delete($index)">DELETE</button>
        <button (click)="edit($index)">EDIT</button>
      </td>
    </tr>
  }
</table>
